In [1]:
import os
os.environ["PYSPARK_PYTHON"] = "python"

In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("TestApp")
    .master("local[*]")
    .getOrCreate()
)

In [ ]:
# Read CSV file (correct file path)
flights = spark.read.csv(r"C:\Users\heema\Downloads\nyc_flights.csv", 
                         header=True, 
                         inferSchema=True)


# Show first 5 rows
flights.show(5)

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|2013|    1|  1|     517|           515|        2|     830|           819|       11|     UA|  1545| N14228|   EWR| IAH|     227|    1400|   5|    15|2013-01-01 15:45:00|
|2013|    1|  1|     533|           529|        4|     850|           830|       20|     UA|  1714| N24211|   LGA| IAH|     227|    1416|   5|    29|2013-01-01 15:45:00|
|2013|    1|  1|     542|           540|        2|     923|           850|       33|     AA|  1141| N619AA|   JFK| MIA|     160|    1089|   5|    40|2013-01-01 15:45:00|
|2013|    1|  1|     544|           545|       -1|    1004|          1022|      -18|     B6|   725| N804JB|   JFK| BQN|     183|    1576|   5|    45|2013-01-01 15:45:00|
|2013|    1|  1|     554|           600|       -6|     812|           837|      -25|     DL|   461| N668DN|   LGA| ATL|     116|     762|   6|     0|2013-01-01 16:45:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
only showing top 5 rows

In [10]:
flights.count()

336776

In [11]:
len(flights.columns)

19

In [12]:
flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- sched_dep_time: integer (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- sched_arr_time: integer (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- time_hour: timestamp (nullable = true)

In [13]:
flights.select("year", "month", "day").show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

In [14]:
flights.select(flights.columns[0:3]).show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [11]:
flights.createOrReplaceTempView("flights")

NameError: name 'flights' is not defined

In [ ]:
flights_renamed_columns = flights\
    .withColumnRenamed("dest", "destination")\
    .withColumnRenamed("tailnum", "tail_num")

In [ ]:
flights_renamed_columns = flights_renamed_columns.toPandas()
flights_renamed_columns.head()

In [ ]:
spark.stop()

In [1]:
import os
os.environ["PYSPARK_PYTHON"] = "python"

In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("TestApp")
    .master("local[*]")
    .config("spark.driver.host", "127.0.0.1")
    .getOrCreate()
)

In [ ]:
# Read CSV file (correct file path)
airlines = spark.read.csv(r"C:\Users\heema\Downloads\weather_forecast_data.csv", 
                         header=True, 
                         inferSchema=True)

# Show first 5 rows
flights.show(5)

In [ ]:
# Read CSV file (correct file path)
airlines= spark.read.csv(r"C:\Users\heema\Downloads\weather_forecast_data.csv", 
                         header=True, 
                         inferSchema=True)

# Show first 5 rows
flights.show(5)

In [ ]:
# Read CSV file (correct file path)
airport = spark.read.csv(r"C:\Users\heema\Downloads\weather_forecast_data.csv", 
                         header=True, 
                         inferSchema=True)

# Show first 5 rows
flights.show(5)

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
# today's lecture about join

In [3]:
flights.createOrReplaceTempView("flights")
flights.createOrReplaceTempView("airport")
flights.createOrReplaceTempView("airlines")

NameError: name 'flights' is not defined

In [ ]:
query = """SELECT * FROM flights"""

result = spark.sql(query)
result.show()

In [ ]:
# challenge 1

# which airline has the highest number of delayed department ? = 

query1 = """SELECT a.name ,
                    COUNT(*) as num_delay FROM flights f
                    LEFT JOIN airlines a  ON f.carrier = a.carrier
                    WHERE f.dep_delay > 0
                    GROUP BY a.name
                    ORDER BY num_delay DESC
                    LIMIT 1"""

In [ ]:
result1 = spark.sql(query1)
result1.show()

In [ ]:
# challenge 2 : which airports has flights arriving most early in average

query2 = """SELECT ap.name,
                   AVG(f.arr_delay) AS avg_early
            FROM flights f
            LEFT JOIN airports ap
                 ON f.dest = ap.iata
            WHERE f.arr_delay < 0
            GROUP BY ap.name
            ORDER BY avg_early ASC
            LIMIT 1"""

result2 = spark.sql(query2)
result2.show()

In [ ]:
# exercise for home

j, f k airport dekhi s e a sama ko